.contact-form-review {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-fields {
  width: 100%;
}

.review-field {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.review-field h4 {
  margin: 0;
  margin-bottom: 5px;
}

.review-field p {
  height: 20px;
  margin: 0;
}

.review-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1000px) {
  .contact-form-review {
    width: 600px;
    height: auto;
  }
}

@media (max-width: 640px) {
  .contact-form-review {
    width: 100%;
  }
}
