.shell {
  margin-bottom: 20px;
  padding: 20px;
}

.shell-header,
.shell-content,
.shell-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

#main-shell .shell-footer {
  align-items: flex-start;
}

#main-shell .shell-footer h2 {
  align-self: center;
}

.shell-header h1 {
  margin: 0;
}

@media (max-width: 640px) {
  .shell-header,
  .shell-footer {
    text-align: center;
  }
}
